/* ---------MOBILE VIEW----------- */
@media screen and (max-width: 699px) {
    .main {
        display: flex;
        flex-direction: column;
        align-items: left;
    
        padding: 1rem 10%;
    
        min-height: 100vh;
        font-family: var(--font-ebgaramond);
        background-color: var(--bg-color);
    
        position: relative;
        padding-bottom: 15rem;

        @media screen and (max-width: 549px) {
            padding: 20px 10%;
        }
    }
    
    .image {
        width: 100%;
        max-width: 80vw;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
        margin-block: 100px 20px;
    }

    .credit {
        text-align: center;
        opacity: .7;
        font-family: 'Arial';
        font-size: 9pt;
        letter-spacing: .03rem;
        margin-bottom: 40px;
    }
    
    .title {
        font-family: var(--font-playfair);
        font-weight: 500;
        margin-bottom: 20px;

        @media screen and (max-width: 549px) {
            font-size: 25pt;
        }
    }

    .subtitle {
        font-family: var(--font-playfair);
        font-weight: 600;
        font-size: 15pt;
        margin-block: 20px;
    }
    
    .author {
        font-size: 15pt;
        font-family: var(--font-cormorant);
        font-weight: 600;
        margin-block: 12px 7px;

        @media screen and (max-width: 549px) {
            font-size: 13.5pt;
        }
    }
    
    .text {
        line-height: 180%;
        font-size: 13pt;
        white-space: pre-line;

        @media screen and (max-width: 549px) {
            font-size: 13.5pt;
        }
    }

    .contentsContainer {
        display: flex;
        flex-direction: column
    }
}

/* ---------DESKTOP VIEW----------- */
@media screen and (min-width: 700px) {
    .main {
        display: flex;
        flex-direction: column;
        align-items: left;
        padding-inline: 20vw;
        padding-block: 140px 100px;
        min-height: 100vh;
        font-family: var(--font-ebgaramond);
        background-color: var(--bg-color);
        position: relative;

    }

    .hbox {
        padding-inline: 5vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }

    .col {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .title {
        font-family: var(--font-playfair);
        font-weight: 500;
        font-size: 40pt;
        margin-block: 20px 40px;

        @media screen and (max-width: 1099px) {
            font-size: 30pt;
        }
    }


    .subtitle {
        padding-inline: 10vw;
        font-family: var(--font-playfair);
        font-weight: 600;
        font-size: 20pt;
        margin-block: 20px;
    }

    .image {
        margin-block: 30px 10px;
        width: 100%;
        max-width: 70vw;
        max-height: 70vh;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }

    .credit {
        text-align: center;
        opacity: .7;
        font-family: 'Arial';
        font-size: 9pt;
        letter-spacing: .03rem;
        margin-bottom: 40px;
    }

    .author {
        font-size: 16pt;
        font-family: var(--font-cormorant);
        font-weight: 600;
    }

    .text {
        line-height: 200%;
        font-size: 13pt;
        white-space: pre-line;
        padding-inline: 10vw;
    }

    .page {
        display: flex;
        justify-content: space-between;
    }

    .rightAlign {
        text-align: right;
    }

    .audio {
        position: fixed;
        right: 5%;
    }

    .video {
        margin-block: 30px 40px;
        width: 100%;
        min-height: 60vh;
        max-width: 70vw;
        border-width: 0;
    }

    .contentsContainer {
        padding-inline: 10vw;
        display: grid;
        grid-template-rows: repeat(10, 1fr);
        grid-auto-flow: column;
    }
}

.date {
    font-size: 10pt;
    font-family:'Arial';
    color: #a1a1a1;
    font-weight: 400;
    margin-block: 10px 50px;
}

.content {
    line-height: 200%;
    font-size: 13.5pt;
    white-space: pre-line;
    display: flex;
}

.href:hover {
    text-decoration: underline;
}