/*
CUSTOM VARIABLES
colors:
--agora-green: BFD8C5
--light-green: E5ECE7
--neutral-tan: F0EDE9
--gray-green: D1D7D3
--dark-green: 7C9D84
--darkest-green: 2C4B33

fonts:
--font-ebgaramond
--font-playfair
--font-playfair-sc
--font-cormorant
*/

/* ---------MOBILE VIEW----------- */
@media screen and (max-width: 699px) {
    /* .desk {
      display: none;
    } */
  
    .main {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 100vh;
      padding-top: 30px;
      padding-inline: 20px;
      
      font-family: var(--font-ebgaramond);
      position: relative;
      background-color: var(--bg-color);
      }
      
      .logo {
      width: 75px;
      height: auto;
      }
      
      .heading {
      display: inherit;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width:100vw;
      height: 90vh;
      }
      
      .heading h1 {
      color: black;
      font-family: var(--font-playfair-sc);
      font-weight: 500;
      font-size: 40px;
      letter-spacing: 1rem;
      text-indent: 1em;
      
      margin-top: 40px;
      }
      
      .heading h2 {
      color: black;
      font-style: italic;
      font-weight: 400;
      font-size: 20px;
      letter-spacing: .1em;
      text-indent: .1em;
      text-align: center;
      line-height: 170%;
      padding-inline: 20px;
      
      margin-top: 80px;
      }
      
      
      .container {
          width: 100vw;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }
      
      .container h1 {
          font-family: var(--font-playfair-sc);
          font-weight: 550;
          font-size: 20pt;
          letter-spacing: .4rem;
          text-align: center;
          margin-block: 20px 25px;
      }
      .container h4 {
        font-family: 'Geneva';
        font-weight: 550;
        font-size: 9pt;
        letter-spacing: .15rem;
        text-align: center;
        margin-bottom: 15px;
      }
      
      .container hr {
          width: 50%;
          margin-block: 50px;
      }
      
      .articlesContainer {
          margin-block: 50px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          gap: 30px;
          width: 100vw;
      }
      
  }
  
  
  /* ---------DESKTOP VIEW----------- */
  @media screen and (min-width: 700px) {
  
    .mobileView {
      display:none;
    }
  
    .desk {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 100vh;
      font-family: var(--font-ebgaramond);
      position: relative;
      background-color: var(--bg-color);
    }
  
    .heading {
      display: inherit;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
      width:100vh;
      height: 90vh;
    }
    .heading h1 {
      color: black;
      font-family: var(--font-playfair-sc);
      font-weight: 500;
      font-size: 90px;
      letter-spacing: 1em;
      text-indent: 1em;
  
      margin-top: 40px;
    }
    .heading h2 {
      color: black;
      font-style: italic;
      font-weight: 400;
      font-size: 22px;
      letter-spacing: .1em;
      text-indent: .1em;
      text-align: center;
  
      margin-top: 110px;
    }
  
    .heading h3 {
      font-family: var(--font-cormorant);
      font-weight: 400;
      font-size: 15pt;
      letter-spacing: .06rem;
      text-align: center;
      line-height: 2rem;
    }
  
    .arrow {
      opacity: .5;
      transition: .5s;
    }
  
    .arrow:hover {
      opacity: 1;
      transition: .5s;
    }
  
    .container {
      width: 100vw;
      margin-top: 7rem;
      padding-inline: 15%;
      display: flex;
      flex-direction: column;
    }
  
    .container h1 {
      font-family: var(--font-playfair-sc);
      font-weight: 550;
      letter-spacing: .5rem;
      font-size: 40pt;
      text-align: center;
    }
  
    .container h4 {
      font-family: 'Geneva';
      font-weight: 550;
      font-size: 11pt;
      letter-spacing: .15rem;
      text-align: center;
      margin-block: 20px 25px;
  }
  
    .hbox {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding-block: 4rem;
      /* padding-right: 3rem; */
      gap: 4%;
      max-height: 600px;
    }
  
    .letter {
      width: 400px;
      max-height: 100%;
      padding-block: 1rem;
      padding-inline: 3rem;
      border-left: 2px solid black;
      flex-grow: 2;
  
      letter-spacing: .095rem;
      line-height: 220%;
      background-color: var(--bg-color);
      scrollbar-color: lightgray var(--bg-color);
    }
  
    .letter p {
      font-family: var(--font-ebgaramond);
      letter-spacing: .06rem;
      max-height: 90%;
      margin-top: 15px;
      text-overflow: ellipsis;
      overflow: scroll;
      scrollbar-gutter: var(--bg-color);
      scrollbar-width: 1px;
    }
  
    .feature {
      background-color: var(--gray-green);
      /* flex-grow: 2; */
      width: 400px;
    }
  
    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }
  
    .line {
      background-color: black;
      width: 2px;
      margin: 0;
    }
  
    .issu {
      width: 40vw;
      justify-self: center;
      align-self: center;
    }
  
  
    .articlesContainer {
      margin-top: 3rem;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 4vw;
      padding-bottom: 150px;
    }
  
    .text {
      /* padding-block: 10px 15px; */
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }
  
  }