
/* ---------MOBILE VIEW----------- */
@media screen and (max-width: 699px) {
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    font-family: var(--font-ebgaramond);
    background-color: whitesmoke;
    position: relative;

    }
    
.container {
    margin-top: 100px;
    min-height: 110vh;
    width: 80vw;
    padding: 50px;
}

.pageHeader {
    font-family: var(--font-playfair-sc);
    text-align: left;
    letter-spacing: 5px;
    color: black;
}

.section{
    font-family: var(--font-ebgaramond);
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2vw;
}
.sectionHeader {
    font-family: var(--font-playfair-sc);
    font-size: 20pt;
    letter-spacing: 3px;
    font-weight: 550;
    margin-block: 50px 20px;
}

.memberCard {
    width: 100%;
    font-family: var(--font-ebgaramond);
    line-height: 30px;
    margin-block: 3px;
}
    
/* member name */
.memberCard h1 {
    font-size: 15pt;
    letter-spacing: 1px;
    line-height: 170%;
}

/* member roles */
.memberCard h2 {
    font-size: 12pt;
    letter-spacing: .5px;
    line-height: 130%;
    font-weight: 400;
    color: gray;

}

.headshot {
    display: none;
}

}

/* ---------DESKTOP VIEW----------- */
@media screen and (min-width: 700px) {
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    font-family: var(--font-ebgaramond); 
    background-color: whitesmoke;
    position: relative;

  }
  
.container {
    margin-top: 100px;
    min-height: 110vh;
    width: 70vw;
    padding: 50px;
    padding-bottom: 20rem;
  }

.pageHeader {
    font-family: var(--font-playfair-sc);
    text-align: left;
    letter-spacing: 5px;
    color: black;
}

.section{
    font-family: var(--font-ebgaramond);

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 40px;

    @media screen and (max-width: 1000px) {
        gap: 40px;
        align-items: center;
    }
}
.sectionHeader {
    font-family: var(--font-playfair-sc);
    font-size: 20pt;
    letter-spacing: 3px;
    font-weight: 550;
    margin-block: 70px 20px;
}

.memberCard {
    width: 250px;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: rgb(248, 248, 248);
    padding: 30px;
    font-family: var(--font-ebgaramond);
    line-height: 30px;
    filter: drop-shadow(2px 2px 3px rgba(210, 210, 210, 0.677));
    
}

/* member name */
.memberCard h1 {
    font-size: 15pt;
    letter-spacing: 1px;
    line-height: 170%;
}

/* member roles */
.memberCard h2 {
    font-size: 10pt;
    letter-spacing: .5px;
    line-height: 130%;
    font-weight: 400;
    font-family: "Arial";
    font-style: italic;
    color: gray;

}

.headshot {
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
}
}